In [11]:
import cml.data_v1 as cmldata
# name of the virtual warehouse that you want to connect to
CONNECTION_NAME = "pse-demo"

# establish connection
conn = cmldata.get_connection(
    CONNECTION_NAME, {"USERNAME": "angupta", "PASSWORD": "Cloudera@2022"}
)

SQL_SHOW_DB = "show databases"
dataframe_a = conn.get_pandas_dataframe(SQL_SHOW_DB)
print(dataframe_a)
print('----------------------------------------------------------------------------------------------- \n')

SQL_SHOW_COVID_DEMOGRAPHIC_RATE_CUMULATIVE = "select * from cdph.covid_demo_rate_cumulative a limit 10"
dataframe_b = conn.get_pandas_dataframe(SQL_SHOW_COVID_DEMOGRAPHIC_RATE_CUMULATIVE)
print(dataframe_b)
print('----------------------------------------------------------------------------------------------- \n')

SQL_SHOW_MEMBER_PROFILE = "select * from member.member_profile a limit 10"
dataframe_c = conn.get_pandas_dataframe(SQL_SHOW_MEMBER_PROFILE)
print(dataframe_c)
print('----------------------------------------------------------------------------------------------- \n')

        database_name
0                cdph
1             default
2             factory
3  information_schema
4           marketing
5              member
6             reports
7               sales
8                 sys
-----------------------------------------------------------------------------------------------

  a.county a.demographic_set                  a.demographic_set_category  \
0  Alameda    race_ethnicity                            African American
1  Alameda    race_ethnicity                             American Indian
2  Alameda    race_ethnicity                              Asian American
3  Alameda    race_ethnicity                                      Latino
4  Alameda    race_ethnicity                                  Multi-Race
5  Alameda    race_ethnicity  Native Hawaiian and other Pacific Islander
6  Alameda    race_ethnicity                                       Other
7  Alameda    race_ethnicity                                     Unknown
8  Alameda    race_ethnicity                                       White
9   Alpine    race_ethnicity                            African American

  a.metric  a.metric_value  a.metric_value_per_100k a.applied_suppression  \
0   deaths             NaN                      NaN                 Total
1   deaths             0.0                 0.000000                  None
2   deaths             NaN                      NaN                 Total
3   deaths            13.0                 3.418660                  None
4   deaths             NaN                      NaN                 Total
5   deaths             NaN                      NaN            Population
6   deaths             NaN                      NaN                 Total
7   deaths             NaN                      NaN                 Total
8   deaths            14.0                 2.756296                  None
9   deaths             0.0                 0.000000                  None

   a.population_percentage  a.metric_total_percentage  \
0                11.716451                        NaN
1                 0.350795                   0.000000
2                30.436578                        NaN
3                22.555855                  33.333333
4                 4.037580                        NaN
5                 0.774489                        NaN
6                      NaN                        NaN
7                      NaN                        NaN
8                30.128253                  35.897436
9                 1.342883                        NaN

   a.metric_value_30_days_ago  a.metric_value_per_100k_30_days_ago  \
0                        23.0                            11.644037
1                         NaN                                  NaN
2                        24.0                             4.677214
3                        27.0                             7.100293
4                         0.0                             0.000000
5                         NaN                                  NaN
6                        23.0                                  NaN
7                        18.0                                  NaN
8                        47.0                             9.253280
9                         0.0                             0.000000

   a.metric_value_per_100k_delta_from_30_days_ago  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                       -3.681633
4                                             NaN
5                                             NaN
6                                             NaN
7                                             NaN
8                                       -6.496984
9                                        0.000000

   a.metric_total_percentage_30_days_ago  \
0                              18.400000
1                                    NaN
2                              19.200000
3                              21.600000
4                               0.000000
5                                    NaN
6                              13.855422
7                              10.843373
8                              37.600000
9                                    NaN

   a.metric_value_percentage_delta_from_30_days_ago
0                                               NaN
1                                               NaN
2                                               NaN
3                                         11.733333
4                                               NaN
5                                               NaN
6                                               NaN
7                                               NaN
8                                         -1.702564
9                                               NaN
-----------------------------------------------------------------------------------------------

             a.name                         a.email  \
0      Cleo Clayton      et.ipsum.cursus@outlook.ca
1     Lacy Mcintosh          sed.libero@hotmail.com
2   Stephanie Adams           turpis@protonmail.org
3    Jasmine Jordan             in.lorem@google.org
4    Quinn Mcmillan             nascetur@google.edu
5     Rashad Albert  at.libero.morbi@protonmail.edu
6    Timothy Becker            pede.cras@icloud.org
7     Clinton Kline   phasellus.dapibus@outlook.edu
8   Erasmus Farrell           sociis.natoque@aol.ca
9  Demetrius Palmer          urna.nunc@outlook.couk

                        a.address            a.city  a.postalzip    a.region  \
0                  522 Neque. Rd.       Minneapolis        35153  California
1  P.O. Box 602, 5077 Nibh Avenue           Olympia        71986  California
2            Ap #963-5244 A, Road             Akron        51925  California
3                  6673 Pede. St.  South Burlington        34323  California
4               6906 Senectus St.          Columbus        55278  California
5          Ap #207-2983 Nec, Road          Portland        60161  California
6     P.O. Box 478, 3120 Nunc Ave           Kenosha        43592  California
7          520-6450 Risus. Street         Waterbury        77238  California
8                1875 Velit. Road            Biloxi        77163  California
9  P.O. Box 714, 6592 Nunc Street          Columbus        32087  California

       a.country  a.income  a.age  a.gender
0  United States    645608     61         2
1  United States    425551     63         3
2  United States    306306     67         3
3  United States    853965     48         3
4  United States    129544     23         1
5  United States    833770      8         2
6  United States    502964     68         3
7  United States    564593     90         3
8  United States    848319     50         3
9  United States    336155    100         1
-----------------------------------------------------------------------------------------------